body {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}
h1 {
  font-size: 1.5rem;
  align-self: center;
  font-weight: 700;
}
h2 {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: justify;
}
p {
  font-size: 1rem;
  text-align: justify;
  margin: 1.3rem;
}
iframe {
  position: relative;
  top: 2rem;
}
a {
  font-size: 1rem;
  margin: 0.5rem;
  color: black;
  text-decoration: none;
}
a:focus {
  color: white;
  background-color: black;
  border: 3px black dashed;
}

iframe {
  width: 95%;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.nb {
  position: initial;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background-color: black;
  cursor: pointer;
  z-index: 10;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 0.15rem;

  background-color: white;

  transition-duration: .10s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 1rem;
  z-index: 9;
  width: 100%;
  background-color: white;
  opacity: 0.9;
  transition-duration: .10s;
}

.menu__item {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  opacity: 1;
  border: 2px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}
.grafic {
  align-self: center;
  text-align: center;
}
.showHide {
  color: black;
  padding: 0.5rem;
  border: 3px black solid;
  border-radius: 3px;
}
.menu__item:active {
  background-color: black;
  color: white;
}
header h1, header h2 {
  margin-top: 2rem;
}
header h1 {
  text-align: right;
  margin-right: 1rem;
}
header h2 {
  font-size: 1.4rem;
}
main {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
footer {
  margin-bottom: 4rem;
}
main img {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 90%;
  opacity: 0.7;
  align-self: center;
}
main video {
  position: relative;
  top: 3rem;
  width: 80%;
  margin-bottom: 3rem;
}
.collapsible-headline {
  margin-bottom: 1rem;
  display: block;
}
.collapsible-headline button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-right: 1rem;
  background-color: white;
  color: black;
  border: 3px black solid;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 3px;
}
.collapsible-headline button:focus {
  border: 3px black dashed;
  border-radius: 3px;
  color: white;
  background-color: black;
}
.collapsible-headline svg {
  height: 1rem;
  margin: 0.5rem;
}
.icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.icons img {
  color: black;
  height: 2rem;
  opacity: 1;
  width: 100%;
  margin: 0;
  background-color: white;
}
.icons a {
  background-color: white;
}
.bordered {
  border: 4px dashed black;
  margin: 0.5rem;
  padding: 0.5rem;
  align-self: center;
  text-align: center;
  border-radius: 3px;
}

.main-contacts {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {
  img {
    display: none;
  }
  .icons img {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  header h1, header h2 {
    margin-top: 2rem;
  }
  header h1 {
    text-align: right;
    margin-right: 1rem;
  }
  header h2 {
    font-size: 1.4rem;
  }
  main {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  footer {
    margin-bottom: 4rem;
  }
  main img {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
    opacity: 0.7;
    align-self: center;
  }
  body {
    font-size: 16px;
  }
  .menu__item {
    font-size: 1rem;
    text-align: center;
  }
  .icons {
    margin-top: 0;
  }
  .icons img {
    height: 1.5rem;
  }
  main img {
    margin: 0.2rem 1rem 0.2rem 1rem;
  }
  .menu__box {
    padding-top: 3rem;
    padding-bottom: 0.25rem;
  }
  .menu__item {
    padding: 0.5rem 0.7rem;
  }
  .collapsible-headline button {
    padding: 0.5rem 1rem;
  }
}
@media screen and (min-width: 650px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: wrap;
    justify-content: space-around;
  }
  header h1, header h2 {
    margin-top: 2rem;
  }
  header h2 {
    font-size: 1.4rem;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  main {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  footer {
    margin-bottom: 4rem;
  }
  main img {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
    opacity: 0.7;
    align-self: center;
  }
  img {
    display: none;
  }
  .icons img {
    display: flex;
  }
  .menu__box {
    width: 20rem;
    padding-bottom: 4rem;
  }
  .menu__item {
    padding: 0.3rem 0.7rem;
    text-align: left;
  }
  .menu__item:hover {
    background-color: black;
    color: white;
  }
  .menu__item:active {
    background-color: grey;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  h1 {
    align-self: center;
    font-size: 3rem;
    border: 0.3rem dashed black;
    padding: 1.5rem 4rem;
  }
  h2 {
    font-size: 2rem;

  }
  p {
    max-width: 33rem;
    align-self: center;
    font-size: 1.5rem;
  }
  a {
    font-size: 1.5rem;
    align-self: flex-start;
  }
  .contacts a {
    margin-top: -4rem;
  }
  .collapsible-headline button {
    margin: 0;
    font-size: 2rem;
  }
  main video {
    width: 20%;
    align-self: center;
    margin-bottom: 0
  }
  iframe {
    width: 100%;
  }
  .volunteers-photo {
    display: none;
  }
  .icons {
    margin-top: 6rem;
  }
  .icons img {
    height: 3rem;
  }
  .banner {
    margin-top: 6rem;
    background-color: black;
    color: white;
    padding: 3rem 5rem;
    align-self: center;
    max-width: 45%;
    font-size: 2rem;
    border-radius: 3px;
  }
}
@media (min-width: 650px) and (max-width: 1000px) {
  .banner {
    margin-top: 6rem;
    align-self: center;
    max-width: 45%;
  }
  .icons {
    margin-top: 8rem;
  }
  .menu__item {
    padding: 0.2rem 0.5rem;
    margin: 0.4rem;
  }
}
@media screen and (max-width: 649px) {
  .desktop-nav {
    display: none;
  }
}
