html {
  font-size: 20px;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
}
nav a {
  margin: 0.5rem;
  background-color: #1f48d4;
  border: 3px solid #1f48d4;
  color: white;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
}
nav a:focus {
  border-color: black;
}
.search__btn {
  background-color: rgb(230, 183, 64);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 90%;
}
.searchForm {
  display: flex;
  flex-direction: column;
  background-color: #1f48d4;
  align-items: center;
}
.searchLabel {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
}
.searchInput {
  align-self: center;
  width: 90%;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
.search__btn:focus {
  border-color: black;
}
h1 {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: 600;
  background-color: #1f48d4;
  color: white;
  text-align: center;
}
h2 {
  font-size: 2rem;
}
main {
  margin: 2rem 0.3rem 0 0.3rem;
}
p {
  font-size: 1.5rem;
  line-height: normal;
}
.para {
  background-color: rgb(230, 183, 64);
  padding: 0.25rem;
}
.para a {
  width: fit-content;
  font-weight: normal;
  padding: 0.5rem;
  text-decoration: underline;
  color: #1f48d4;
}
.bold {
  font-weight: bold;
}
span, a {
  font-size: 1.5rem;
  line-height: normal;
  font-weight: 200;
  color: black;
  text-decoration: none;
}
  
h2 button {
  all: inherit;
  border-bottom: 0.15rem solid #1f48d4;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
}
h2 button:focus svg {
  outline: 2px solid;
}
button svg {
  height: 1em;
  margin-left: 0.5em;
}
[aria-expanded="true"] .vert {
  display: none;
} 
[aria-expanded] rect {
  fill: currentColor;
}
.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.icons img {
  height: 2rem;
  margin: 0;
}
.icons a:focus {
  border: 3px #1f48d4 solid;
  border-radius: 3px;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #1f48d4;
  height: 4rem;
}
@media screen and (min-width: 900px) {
  .searchInput {
    width: 50%;
  }
  .search__btn {
    width: 50%;
  }
  a:focus {
    border: 0.1rem solid white;
  }
  h2 button {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  p {
    padding: 1rem;
    width: 50%;
    border-left: 0.15rem solid #1f48d4;
  }
  .icons img {
    height: 3rem;
  }
  .para a {
    margin-left: 1rem;
  }
  .bold {
    font-size: 1.25rem;
  }
  main h2 {
    font-size: 1.5rem;
  }
}
  
