html {
  font-size: 18px;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #1f48d4;
  height: 3.5rem;
}
.menu__title h1 {
  color: white;
  padding: 0.5rem;
}
.menu__btn {
  background-color: rgb(230, 183, 64);
  color: white;
  border: 2px solid white;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.menu__item {
  color: white;
  margin: auto;
  padding: 0.5rem;
  font-size: 1rem;
}
.menu__list {
  display: none;
  background-color: #1f48d4;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 3.5rem;
  opacity: 0.95;
}
.search__btn {
  background-color: rgb(230, 183, 64);
  color: white;
  border: 2px solid white;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 90%;
}
.searchForm {
  display: flex;
  flex-direction: column;
  background-color: #1f48d4;
  align-items: center;
}
.searchLabel {
  padding: 1rem;
  font-size: 1.2rem;
  align-self: center;
  color: white;
}
.searchInput {
  height: 2rem;
  align-self: center;
  width: 90%;
  font-size: 1.5rem;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;

}
h2 {
  font-size: 1.5rem;
}
main {
  margin-top: 4.5rem;
}
p {
  margin: 0.5rem;
  font-size: 1rem;
  line-height: normal;
}
.para {
  background-color: rgb(230, 183, 64);
  padding: 0.8rem;
}
.para a {
  width: fit-content;
  font-weight: normal;
  margin-top: 1rem;
  text-decoration: underline;
  color: #1f48d4;
}
.bold {
  font-weight: bold;
}
span, a {
  font-size: 1rem;
  line-height: normal;
  font-weight: 200;
  color: black;
  text-decoration: none;
}
main h2 {
  margin: 1rem;
}  
h2 button {
  all: inherit;
  border-bottom: 0.15rem solid #1f48d4;
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 0.5rem 0;
}
h2 button:focus svg {
  outline: 2px solid;
}
button svg {
  height: 1em;
  margin-left: 0.5em;
}
[aria-expanded="true"] .vert {
  display: none;
} 
[aria-expanded] rect {
  fill: currentColor;
}
.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.icons img {
  height: 2rem;
  margin: 0;
}
.icons a:focus {
  border: 3px #1f48d4 solid;
  border-radius: 3px;
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #1f48d4;
  height: 4rem;
}
@media screen and (max-width: 285px) {
  h1 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 900px) {
  main {
    margin-top: 7rem;
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .desktop-nav h1,
  .desktop-nav a {
    color: white;
    padding: 1rem;
  }
  .searchForm {
    flex-direction: row;
    justify-content: space-around;
  }
  .searchInput {
    width: 50%;
  }
  .search__btn {
    width: 20%;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  a:focus {
    border: 0.1rem solid white;
  }
    
  h2 button {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  p {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    width: 60%;
    border-left: 0.15rem solid #1f48d4;
  }
  .icons img {
    height: 3rem;
  }
  .para a {
    margin-left: 1rem;
  }
  .bold {
    font-size: 1.25rem;
  }
  .menu__box {
    width: 300px;
  }
  .menu__item {
    font-size: 1.5rem;
  }
  main h2 {
    font-size: 1.5rem;
  }
}
  
